doctype html
html
    head   
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='stylesheets/animate.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/titletextresponsive.css')
        
    body
        .jumbotron.jumbotron-fluid
            .container.container-fluid.text-center.animated.fadeInDown.slower
                h1.display-4.mainTitle Welcome
                h1.display-4.text-muted.mainTitle to
                h1.display-2.mainTitle AllInTheParsha
                br
                a.btn.btn-lg.btn-outline(href='/login') Login
                a.btn.btn-lg.btn-success(href='/register') Sign Up!

        