doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/bootstrap/dist/css/bootstrap.css')

    // CDN Bootstrap Stylesheet
    // link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
  
  body
    block content    
    
    script(src='javascripts/jquery-3.3.1.js')
    script(src='javascripts/popper.js')
    script(src='bootstrap/bootstrap/dist/js/bootstrap.js')

    //CDN Bootstrap JS & Dependencies
    //script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')     
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')    
    //script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    
