doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='stylesheets/animate.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='stylesheets/style.css')

    // CDN Bootstrap Stylesheet
    // link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
  
  header
    nav.navbar.navbar-expand-md.navbar-toggleable-md.navbar-light.bg-light.sticky-top.animated.fadeIn.slow.nav-fill
      a.navbar-brand(href="/") AllInTheParsha
     
      button.navbar-toggler(data-toggle="collapse" data-target="#navBar")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navBar
        .navbar-nav
          a.nav-item.nav-link(href="/") Home 
          span.sr-only (current)
          a.nav-item.nav-link(href="/login") Login
          a.nav-item.nav-link(href="/register") Register
          
    body 
      block content      
    //-
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
  -//
      
   

    script(src='javascripts/jquery-3.3.1.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')

    //CDN Bootstrap JS & Dependencies
    //script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')     
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')    
    //script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    
