doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='stylesheets/animate.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    //link(rel='stylesheet', href='stylesheets/style.css')

    // CDN Bootstrap Stylesheet
    // link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
  
  header
    nav.navbar.navbar-light.bg-light.sticky-top.animated.fadeIn.slow
      a.navbar-brand(href="/") AllInTheParsha
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/") Home 
              span.sr-only (current)
          li.nav-item
           a.nav-link(href="/login") Login
          li.nav-item
           a.nav-link(href="/register") Register
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Account
            div.dropdown-menu(aria-labelledby="navbarDropdown")
             a.dropdown-item(href="#") Action
              a.dropdown-item(href="#") Another action
              div.dropdown-divider
              a.dropdown-item(href="#") Something else here
    body 
      block content      
    //-
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
  -//
      
   

    script(src='javascripts/jquery-3.3.1.js')
    script(src='javascripts/popper.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')

    //CDN Bootstrap JS & Dependencies
    //script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')     
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')    
    //script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')
    
