extends layout

block content
    h6.display-4.p-5 Please enter your profile details
    .container
        form#resumeform(action="/")
            .form-row.py-3
                .col
                    label(for="firstName") First Name
                    input.form-control#firstName(type="text", name="firstName", required)
                .col
                    label(for="middleNames") Middle Names (if any)
                    input.form-control#middleNames(type="text", name="middleNames")
                .col
                    label(for="lastName") Last Name
                    input.form-control#lastName(type="text", name="lastName", required)
            .form-row.py-3
                .col-auto
                    label(for="dob") Date of Birth
                    input.form-control#dob(type="date", name="dob", required)
                .col-auto
                    label(for="heightFeet") Feet
                    input.form-control#heightFeet(name="heightFeet" type="number" min=4 max=6)
                .col.auto
                    label(for="heightInches") Inches
                    input.form-control#heightInches(name="heightInches" type="number" min=0 max=11)
                .col-4
                    label(for="jewishName") Jewish Name (excl. parent's name, if different)
                    input.form-control#jewishName(type="text", name="jewishName")
            .form-row.py-3
                .col
                    label(for="fathersfullName") Father's Full English Name
                    input.form-control#fathersfullName(type="text" name="fathersfullName")
                .col
                    label(for="mothersfullName") Mother's Full English Name
                    input.form-control#mothersfullName(type="text" name="mothersfullName")
            .container.p-3
                span.text-info Please check your details one more time before submitting!
            br
            button.btn.btn-lg.btn-block.btn-primary.btn-disabled#submit(type="submit" data-toggle="button") Submit!
