@media (max-width: 576px) {
    .mainTitle { font-size: 0.5rem;}
}
@media (max-width: 768px) {
    .mainTitle { font-size: 0.75rem;}
}
@media (max-width: 992px) {
    .mainTitle { font-size: 1rem;}
}
@media (max-width: 1200px) {
    .mainTitle { font-size: 2rem;}
}